/* cor do background  linear-gradient(180deg, #E7581A 0%, #F8A54A 100%)
cor das letras #E8E8E8;
cor botao #53B9AE
font usada montserrat 500 e 600 
500 para detalhes
e 600 para principais */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
*{
      margin: 0;
      padding: 0;
}
html, body{
      max-width: 100%;
      overflow-x: hidden;
}
body{
      background: linear-gradient(180deg, #E7581A 0%, #F8A54A 100%);
}
.section-header{
      margin-top: 3rem;
}
.video{
      border-radius: 3rem;
      -webkit-border-radius: 3rem;
      -moz-border-radius: 3rem;
      -ms-border-radius: 3rem;
      -o-border-radius: 3rem;
}
.header-title, .quem-e-tittle,.footer-baixar{
      font-family: 'Montserrat', sans-serif;
      font-weight: 600 ;
      color: #E8E8E8;
      text-align: center;
      font-size: 1.7rem;
      margin-top: 1rem;
      padding: 0;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-Desc, .quem-e-desc, .homenagem-text, .desc-pisadinha{
      font-family: 'Montserrat', sans-serif;
      font-weight: 500 ;
      line-height: 1.8rem;
      color: #E8E8E8;
      text-align: center;
      font-size: 1.5rem;
      padding: 0;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn{
      background-color: #53B9AE;
      border-radius: 4rem;
      max-width: 300px;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
}
.button-text{
      font-family: 'Montserrat', sans-serif;
      font-weight: 600 ;
      color: #E8E8E8;
      text-align: center;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*quem e*/
.section-quem-e{
      margin-top: 3.5rem;
}
.imagem-braga{
      max-width: 300px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*homenagem*/
.section-homenagem{
      margin-top: 3rem;
}
/*piseiro*/
.section-piseiro{
      margin-top: 3rem;
}
.banner{
      max-width: 800px;
      border-radius: 3rem;
}
.image-show-apresentacao{
      max-width: 300px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*footer*/
.footer{
      margin-bottom: 4rem;
      margin-top: 3rem;
}
@media (min-width: 768px){
      .section-header{
            margin-top: 5rem;
      }
      .section-quem-e{
            margin-top: 3.8rem;
      }
      /*quem e*/
      .quem-e-tittle{
            font-size: 1.9rem;
      }
      .quem-e-desc{
            max-width: 400px;
            text-align: left;
            font-size: 1.8rem;
            margin-left: -2rem;
      }
      /*homenagem*/
      .section-homenagem{
            margin-top: 3.8rem;
      }
      /*piseiro*/
      .section-piseiro{
            margin-top: 3.8rem;
      }
      .image-show-apresentacao{
            max-width: 350px;
      }
      /*footer*/
      .footer{
      margin-bottom: 3.8rem;
      margin-top: 3.8rem;
      }
      .footer-baixar{
            font-size: 1.8rem;
      }

}
@media (min-width: 992px){
      .section-header{
            margin-top: 7rem;
      }
      .header-title{
      font-size: 1.9rem;
      text-align: left;
      }
      .header-Desc{
      font-size: 1.7rem;
      text-align: left;
      }
      .video{
            max-width: 650px;
      }
      /*quem e */
      .section-quem-e{
            margin-top: 5rem;
      }
      .quem-e-desc{
            font-size: 2rem;
            max-width: 500px;
      }
      /*homenagem*/
      .section-homenagem{
            margin-top: 5rem;
      }
      .homenagem-text{
            text-align: left;
            font-size: 2rem;
            }
      /*piseiro*/
      .section-piseiro{
            margin-top: 5rem;
      }
      .image-show-apresentacao{
            max-width: 450px;
      }
      /*footer*/
      .footer{
      margin-top: 5rem;
      margin-bottom: 5rem;
      }
      .footer-baixar{
            font-size: 2rem;
      }
}





